@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__about/profile__about.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__add-button/profile__add-button.css);

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 882px) {
  .profile {
    flex-direction: row;
  }
  .profile__add-button {
    width: 150px;
    margin-left: auto;
  }
  .profile__info {
    margin-left: 30px;
  }
  .profile__name {
    font-size: 42px;
    text-align: left;
  }
  .profile__about {
    font-size: 18px;
    text-align: left;
  }
  .profile__edit-button {
    width: 24px;
    height: 24px;
    background-size: 10px;
  }
}
